
.article {
  border: 1px solid;
  margin: 10px;
  padding-bottom: 10px;
}

.article__title {
  background-color: #ccc;
  padding: 5px;
}

.article__author {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 10px;
}
